body {
  margin: 70px !important;
  }
  .formulario {
  max-width: 50% !important;
  }
.error {
padding: 10px;
max-width: 30%;
color: white;
background-color: red;
text-align: center;
font-weight: bold;
}
